@import "@/styles/variables";
@import "@/styles/functions";

.error-message {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: px(12);
  text-align: center;
  color: $secondary;
}
